<h1>Welcome to the card game game</h1>
<h4>Choose a deck below to begin</h4>

<ul class="list-decks">
  <%@decks.each do |deck|%>
  <li><a href= "decks/<%=deck.id%>/rounds/new"><%=deck.title%></a></li>
  <%end%>
</ul>
